<%- include("header") -%>
<div class="box" id="heading">
    <h1> <%= listItem %> </h1>
</div>

<div class="box">

    <form action="/delete" method="POST">
        <!-- 用ejs遍历addItems的所以元素 -->
        <% addItems.forEach(function(eachItem){ %>
            <div class="item">
                <!-- onChange可以在checkbox改变时提交数据 -->
                <input type="checkbox" name="checkbox" value="<%= eachItem._id %>" onChange="this.form.submit()">
                <p><%= eachItem.name %></p>
                <input type="hidden" name="list" value="<%= listItem  %>">
            </div>
        <% }); %>
    </form>
   
        
    <form action="/" method="POST"  class="item">
        <input type="text" name="newItem" autocomplete="off" placeholder="New Item">
        <button type="submit" name="list" value=<%= listItem %> >+</button>
    </form>
</div>

<%- include("footer") -%>




